/*										*
*			   Global    		*
*											*/

.icon {
	color: #009900;
}

.ui.green.buttons .button,
.ui.green.button {
  background-color: #009900;
}

@media only screen and (max-width: 1300px){
   h1 { font-size: 2.5vw; }
}

.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23009900'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23009900'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #009900;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

/*                                      *
*           header.html           *
*                                           */

.ui.tabular.menu .item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/*										*
*			home.html 			*
*											*/
.cropper.home-header {
    background-image: url('../assets/home/lyon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/*										*
*			trust.html 			*
*											*/

.bg-header {
	background-image : url('../assets/header.png');
	color : white;
	padding: 50px 0px 50px 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #238110;
	text-align: center;
}

.title-header{
	font-size: 4em;
	line-height: 1em;
}

.text-green {
	color : green;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .swiper-container {
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .swiper-container {
        height: 600px;
    }
}

@media screen and (max-width: 600px) {
    .swiper-container {
        height: 1000px;
    }
}
.list{
    line-height: 2em;
}

.swiper-part {
    padding-left: 50px;
    padding-right: 50px;
}
